@import url('https://fonts.googleapis.com/css?family=Exo');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: url("nature.jpg");
}
.main {
	background:#1df8e4;
	width: 400px;
	height: 175px;
	margin: 100px auto;
	position: relative;
	padding: 30px;


}

.badge{
	background: #5b0f39;
	color: white;
	padding: 5px 10px;
	font-family: serif;
	font-weight: bold;
	position: absolute;
	top: -15px;
	left: 35%;
}
.clock{
	background:#d9f0ff; 
	text-align: center;
	font-size: 69px;
	height: 100%;
	padding-top: 12px;
	font-family:exo;
	border-radius: 4px;
}